@import "../utils/colors";

.item {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.clicked {
  color: $color-gray-3;
}

.good {
  color: $color-green;
  position: relative;
  &::after {
    content: "Good";
    position: absolute;
    bottom: 20px;
    color: $color-green-light;
  }
}

.bad {
  color: $color-red;
  position: relative;
  &::after {
    content: "Bad";
    position: absolute;
    bottom: 20px;
    color: $color-red-light;
  }
}
