@import "../utils/colors";

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .congratulations {
    font-size: 40px;
    font-weight: bold;
  }

  .score {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .blue {
    color: $color-blue;
  }
}
