$color-blue: #1a77d8;
$color-red: #f45349;
$color-red-light: #fc928c;
$color-green: #57b25a;
$color-green-light: #8bc04a;
$color-black: #172b4d;
$color-white: #fff;
$color-gray-0: #fbfbfb;
$color-gray-1: #f4f5f7;
$color-gray-2: #eaecef;
$color-gray-3: #cbcdd4;
